body {
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Arial", sans-serif;
    /* background-color: #121212; */
}

#calc-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 373px;
    height: 330px;
    padding: 6px;
    padding-bottom: 0;
    border-radius: 10px;
    background-color: darkgray;
}

#output-display {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    min-width: 100%;
    min-height: 25%;
    background-color: lightgray;
    border-radius: 10px;
}

#previous-input {
    font-size: 14px;
    margin-right: 12px;
}

#current-input {
    margin-top: 2px;
    font-size: 26px;
    margin-bottom: 2px;
    margin-right: 8px;
}

#ui {
    /* border: 1px solid black; */
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.button-row {
    display: flex;
}

button {
    margin: 2px;
    flex: 1;
    min-width: 40px;
    height: 40px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 8px;
    border: none;
    background-color: #424548;
    color: white;
}